#media {
	position:relative;
}

.polaroid { width:368px; height:376px; background-image:url(../img/polaroid-bg.png); position:absolute; }
.polaroid img { width:335px; height:275px; margin:25px 0 0 15px; }
.polaroid p { text-align:center; font-family:Georgia,serif; font-size:20px; color:#2E2E2E; margin-top:15px; }
.message { position: relative; min-height: 51px; padding: 9px 12px 9px; border-bottom: 1px solid #E8E8E8; }
.message .date { position: absolute; top: 9px; right: 12px; }
.message .screen-name { font-size: 12px; color: #999; }